.userstable {
  width: 80%;
  font-size: 8px;
  align-self: center;

  tr:nth-child(2n) {
    background-color: #fafafa;
  }

  th {
    padding: 15px;
    height: 10px;
  }

  td {
    padding: 5px;
    height: 5px;
  }
}

.delbutton {
  height: 18px;
  margin-top: 0px;
  width: 50px;
  background-color: red;
  outline: none;
  color: black;
  align-content: center;
  font-family: 12px;
  border-radius: 5px;
  border-color: red;
}

.delbutton:hover {
  background-color: #fafafa;
  transition: 0.7s;
}
